@import "tailwindcss";

@import "./base.css";
@import "./layout.css";
@import "./markdown.css";
@import "./network.css";
@import "./affordances.css";
@import "./menu.css";
@import "./base-layout.css";
@import "./embed-browser.css";
@import "./affordances-layout.css";
@import "./affordance-page.css";