---
import { getEntry } from "astro:content";

const headerContent = await getEntry("site", "header");
const { Content } = (await headerContent?.render()) || {};
---

<header class="site-header" id="siteHeader">
  <div>
    <h1>
      <a href="/" class="header-link">
        <span class="title-source">Source</span>, <br /><span class="title-code"
          >Code</span
        >, <span class="title-print">Print</span>
      </a>
    </h1>
    <p class="mt-8 font-bold text-xl text-balance">
      Edited by Munus Shih, Asad Pervaiz and Carolina Stierli de Abreu
    </p>
  </div>
  <div class="byline max-w-prose flex flex-col gap-8">
    {headerContent && <Content />}
  </div>
</header>
