---

---

<header class="site-header">
  <h1>
    <span class="title-source">Source</span>, <br /><span class="title-code"
      >Code</span
    >, <span class="title-print">Print</span>
  </h1>
  <div class="byline max-w-prose flex flex-col gap-8">
    <p class="font-bold">
      by Munus Shih, Asad Pervaiz and Carolina Stierli de Abreu
    </p>
    <p>
      "Source, Code, Print" is a research and design project that explores the
      evolving role of publishing in an era where digital and physical media are
      deeply intertwined. Rather than seeing print and digital as opposing
      forms, this project examines how they overlap, coexist, and mutually
      inform each other, shaping how knowledge, culture, and creative work are
      produced, circulated, and received.
    </p>
  </div>
</header>
